<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTROL DE REPARACIONES </title>
</head>
<style>
    body {
        font-family: 'Calibri', sans-serif;
    }

    form {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    button {
        padding: 15px 20px; /* Ajusta estos valores según tus preferencias */
        font-size: 16px;
    }
</style>
</head>
<body>
    <h1>ERROR: debe llenar todos los campos segun el reporte a realizar :) </h1>
    <form action="/">
        <button type="submit">volver al pagina principal</button>
      </form>
</body>
</html>
